body {
  background-color: #fff;
}

.w-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.w-card {
  margin: 8px;
  padding: 8px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 300px;
  background-color: #4CAF50;
  color: #fff;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.w-card-content {
  position: relative;
}

.w-card-content__day {
  text-transform: uppercase;
  font-weight: 700;
  color: #C8E6C9;
}

.w-card-content__temp {
  font-size: 36px;
  font-weight: 300;
  color: white;
  line-height: 1;

  &:after { content: '\00b0'; }
}

.w-card-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.w-location {
  margin-top: 25px;
  width: 350px;
}
